toast {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  margin: auto;
  right: 0;
  left: 0;

  height: px2unit(40px);
  border: 1px solid color(yellow-1);
  font-size: font-size(m);

  background-color: color(yellow-2);
  opacity: 0;

  transition: opacity 0.3s;
}

toast.shown {
  opacity: 1;
}
