// --- Shared values --- //

$colors: (
  black: #000000,
  white: #FFFFFF,

  gray-1: #212121, // 87% opacity of black on white
  gray-2: #727272, // 54% opacity of black on white
  gray-3: #b8b8b8, // 26% opacity of black on white
  gray-4: #dadada, // 12% opacity of black on white
  gray-5: #f9f9f9,

  blue-1: #2299EE,
  blue-2: #77CCFF,

  yellow-1: #D6AF00,
  yellow-2: #FFE675
);

$font-sizes: (
  xs: 12px,
  s: 14px,
  m: 16px,
  l: 22px,
  xl: 32px,
);

//@font-face {
//  font-family: font-name;
//  src: url('../fonts/**');// TODO: add custom font
//}

@mixin helvetica-stack() {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
}

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@function font-size($size-name) {
  @return map-get($font-sizes, $size-name);
}

// --- General styles --- //

ul, ol, dl, dd, dt, li, div, body, p, form, hr, h1, h2, h3, h4, h5, img, button {
  margin: 0;
  padding: 0;
}

ul {
  padding-left: 0;
  list-style-type: none;
  width: 100%;
}

html {
  font-size: font-size(m);
  line-height: font-size(m);
}

body {
  @include helvetica-stack();

  padding-bottom: 120px;

  color: color(gray-1);
  background-color: color(gray-5);
}

h1, h2, h3, h4, h5 {
  text-align: center;
//  font-family: ...;
}

a {
//  color: color(...);
  text-decoration: none;
  transition: color 0.2s;
}
a:visited {
  //  color: color(...);
}
a:hover {
  //  color: color(...);
  text-decoration: underline;
}
a:active {
  //  color: color(...);
}

#route-view {
  min-height: 700px
}

// --- Include all partials --- //

@import 'components/nav-bar/nav-bar';
@import 'components/svg-icon/svg-icon';
@import 'components/toast/toast';

@import 'routes/home/home';
@import 'routes/login/login';
